body {
    text-align:center;

}

 .lab {
    color: #ffce00;
 }

 #header {
   height: 200px;
   background: url("../src/img/coc.jpg") center no-repeat;
   background-size: cover;

 }

 body {
   margin: 0;
   padding: 0;
   }
 
 /* body {
    background-color: #003b70;
 } */