body {
    text-align:center;

}

 .lab {
    color: #ffce00;
 }

 #header {
   height: 200px;
   background: url("../src/img/coc2.jpg") center no-repeat;
   background-size: contain;

 }

 body {
   margin: 0;
   padding: 0;
   }
 
   .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
    }

    .container {
      position: relative;
      text-align: center;
      color: darkblue;
      font-size: 24px;
    }